vendor/
node_modules/
npm-debug.log
.notworking
bootstrap/compiled.php
app/storage/
.old
.idea
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json
.rocketeer/
composer.lock
/.overwrite
/.idea/*
/.idea
.idea/*
.phpintel/*
config/google-ads.php
/.phpintel/
/.overwrite/
/config/google-ads.php
resources/views/admin/analytical_dashboards/partials/topwidgets-notstyled.blade.php
resources/views.rar
